<div style="margin-top: 200px; margin-left: 200px">
<% if user_signed_in? %>
  <div>Nickname: <%= current_user.nickname %></div>
  <div>Email: <%= current_user.email %></div>
  <div>Profile Pic: <a href=<%= current_user.profile.profile_pic %>><%= current_user.profile.profile_pic %></a></div>
  <br>
  <%= link_to('Sign Out', destroy_user_session_path, :method => :delete, :class => 'item borderless') %>
<% else %>
  <%= link_to('Sign In', new_user_session_path, :class => 'item borderless') %>
<% end %>
</div>